*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.325rem;
    font-family: sans-serif;
}

body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(43deg, rgba(24,41,205,0.7721463585434174) 0%, rgba(255,0,33,0.8897934173669468) 100%);
    background-repeat: no-repeat;
    background-size: cover;
}

.main-section{
    width: 100%;
    max-width: 50rem;
    background-color: #fff;
    border-radius: 0.8rem;
    padding: 1.4rem 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2.7rem;
}

h1{
    font-size: 2.2rem;
    margin: 0 0 1.6rem;
    text-align: center;
}



#creat-todo{
    margin: .2rem 1.6rem;
    width: 100%;

    & > form{
        font-size: 1.6rem;
        display: flex;
        flex-direction: row;
        width: 100% ;
    }

    & > form > input{
        height: 3.2rem;
        width: 83.5%;
        font-size: 1.6rem;
        border-radius: .6rem;
        margin-right: .8rem;
        outline: 0;
        border: 1px solid #5a3f3f5b;
        padding-left: 1rem;

            &:focus{
                border: 2px solid #394735de;
            }
    }

    & > form > button{
        height: 3.2rem;
        width: 3.2rem;
        font-size: 2.5rem;
        background-color: #5eaf451e;
        color: #46a32ad7;
        cursor: pointer;
        border: 1px solid #5a3f3f5b;
        border-radius: .6rem;

            &:hover{
                border: 2px solid #3ae010de;
                color: #3ae010de;
            }

            &:disabled{
                background-color: #393939c0;
                border: 2px solid #201f1f;
                cursor: not-allowed;
            }

            
        
    }


}





.todolist-section{
    margin: .8rem 1.6rem;
    min-height: 5rem;

    & > ul{
        padding-inline-start: 0rem;
        height: 23rem;
        overflow: auto;
    }

    & > ul > li {
        list-style-type: none;
        padding: .8rem 1.6rem;
        font-size: 2.4rem;
        background-color: #efefef80;
        display: flex;
        justify-content:space-between;
        position: relative;
        margin-bottom: .8rem;
        border-radius: .6rem;
    }

    & > ul > li:last-child{
        margin-bottom: 0;
    }

    & > ul > li > button {
        width: 2.4rem;
        height: 2.4rem;
        background-color: #5c498054;
        color: #fff;
        border: none;
        border-radius: .4rem;
        cursor: pointer;

        &:hover{
            background-color: #e7050594;
        }
    }
}

.checkbox-label{
    display: flex;
    align-items: center;
    justify-content: center;

    & > label{
        cursor: pointer;
    }

    & > input{
        margin-right: .8rem;
        cursor: pointer;
        height: 1rem;
        width: 1rem;
        border-radius: .8rem;
        border : none
    }
}

#todoFooter{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

#tasksProgress{
    font-size: 1.6rem;
    border:  .1rem solid #5d3ea5cb;
    border-radius: .8rem;
    padding: .8rem 1rem;

}

.remove-done-tasks-btn{
    box-sizing: border-box;
    height: 3.6rem;
    color: #fff;
    background-color: #5d3ea5cb;
    border: none;
    border-radius: .8rem;
    padding: .8rem 1.6rem;
    cursor: pointer;

        &:hover{
           background-color: #e90a0ac2;
        }
}
